<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/nav-bar}"></th:block>
</header>
<main>
    <div class="jumbotron">
        <form >
            <div class="col-md-12 d-flex justify-content-center">
                <label class="display-4" for="export-project-textarea">Employees with age above 25:</label>
            </div>
            <div class="col-md-12 d-flex justify-content-center">
                <div class="col-md-8 d-flex justify-content-center">
                    <textarea class="form-control" id="export-project-textarea" rows="20" th:text="${employeesAbove}" readonly></textarea>
                </div>
            </div>
        </form>
    </div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>