<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/nav-bar}"></th:block>
</header>
<main class="mt-5">
    <hr class="bg-hero hr-2"/>
    <h1 class="text-center text-black display-4">Login</h1>
    <hr class="bg-hero w-25 hr-2"/>
    <form class="mx-auto w-25" th:method="post" th:action="@{/users/login}">
        <input type="hidden" name="_csrf" value="c95ccb2b-1afa-47bd-bf7b-a5b72739470b">
        <div class="form-group">
            <label for="username" class="text-black mb-1">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username..." name="username">
        </div>
        <div class="form-group">
            <label for="password" class="text-black mb-1">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password..." name="password">
        </div>
        <hr class="bg-hero hr-2"/>
        <div class="button-holder mt-3 d-flex justify-content-center">
            <button type="submit" class="btn bg-black glow-button">Login</button>
        </div>
    </form>
    <span style="visibility: hidden">....</span>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>