<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/nav-bar}"></th:block>
</header>
<main>
    <div class="jumbotron">

        <span style="visibility: hidden">....</span>
        <h1 class="text-black display-3 mt-5 display-3">
            Welcome to Next Level Technologies web site.
            Here you can find information about our projects
        </h1>

        <th:block th:if="${areImported == true}">
            <a class="btn btn-success mx-5 my-5"th:href="@{/export/project-if-finished}">Export finished projects</a>
            <a class="btn btn-success mx-5 my-5"th:href="@{/export/employees-above}">Export employees with age above 25</a>
        </th:block>
        <th:block th:if="${areImported == false}">
            <p class="display-4">Import the xml files first.</p>
        </th:block>
    </div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>